# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/inspectionProfiles/
.idea/workspace.xml
python3-env/Lib/__pycache__/
python3-env/Lib/collections/__pycache__/
python3-env/Lib/distutils/__pycache__/
python3-env/Lib/encodings/__pycache__/
python3-env/Lib/importlib/__pycache__/
python3-env/Lib/site-packages/__pycache__/
python3-env/Lib/site-packages/click/__pycache__/
python3-env/Lib/site-packages/dotenv/__pycache__/
python3-env/Lib/site-packages/flask/__pycache__/
python3-env/Lib/site-packages/flask/json/__pycache__/
python3-env/Lib/site-packages/itsdangerous/__pycache__/
python3-env/Lib/site-packages/jinja2/__pycache__/
python3-env/Lib/site-packages/markupsafe/__pycache__/
python3-env/Lib/site-packages/pip/__pycache__/
python3-env/Lib/site-packages/pip/_internal/__pycache__/
python3-env/Lib/site-packages/pip/_internal/cli/__pycache__/
python3-env/Lib/site-packages/pip/_internal/commands/__pycache__/
python3-env/Lib/site-packages/pip/_internal/distributions/__pycache__/
python3-env/Lib/site-packages/pip/_internal/index/__pycache__/
python3-env/Lib/site-packages/pip/_internal/models/__pycache__/
python3-env/Lib/site-packages/pip/_internal/network/__pycache__/
python3-env/Lib/site-packages/pip/_internal/operations/__pycache__/
python3-env/Lib/site-packages/pip/_internal/operations/build/__pycache__/
python3-env/Lib/site-packages/pip/_internal/operations/install/__pycache__/
python3-env/Lib/site-packages/pip/_internal/req/__pycache__/
python3-env/Lib/site-packages/pip/_internal/utils/__pycache__/
python3-env/Lib/site-packages/pip/_internal/vcs/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/certifi/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/chardet/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/colorama/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/distlib/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/idna/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/packaging/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/pep517/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/progress/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/pytoml/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/requests/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
python3-env/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
python3-env/Lib/site-packages/pkg_resources/__pycache__/
python3-env/Lib/site-packages/pkg_resources/_vendor/__pycache__/
python3-env/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
python3-env/Lib/site-packages/pkg_resources/extern/__pycache__/
python3-env/Lib/site-packages/setuptools/__pycache__/
python3-env/Lib/site-packages/setuptools/_vendor/__pycache__/
python3-env/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
python3-env/Lib/site-packages/setuptools/command/__pycache__/
python3-env/Lib/site-packages/setuptools/extern/__pycache__/
python3-env/Lib/site-packages/werkzeug/__pycache__/
python3-env/Lib/site-packages/werkzeug/debug/__pycache__/
python3-env/Lib/site-packages/werkzeug/middleware/__pycache__/
python3-env/Lib/site-packages/werkzeug/wrappers/__pycache__/
python3-env/Lib/site-packages/wheel/__pycache__/
python3-env/Lib/site-packages/wheel/cli/__pycache__/
/.flaskenv
/.env
